body  {
    background-image: linear-gradient(to bottom, #ff6347, #dd8e8e 50%, #ff6347);
    background-attachment:fixed;
    background-repeat: no-repeat;
    }
.todo {
    background-color: #fa8072;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
}
.btn {
    color: #ffffff;
    background-color: #ff6347;
    border: none;
}
.btn:hover {    
    background-color: grey
}
.container {
    background-color: #ffffff;
    border: 1px solid transparent;
    max-width: 100vw;
    padding: 10px 0 0 0;
}
.input-group {
    width: 75%;
    margin: auto;
}
li {
    list-style: decimal;
    margin: 0 0 20px 0;
}
.list {
    margin: 0 0 0 50px;
}
.li-btn-del {
    position: absolute;
    left: 1100px;
}
.li-btn-edit {
    position: absolute;
    left: 1000px;
} 
@media only screen and (max-width: 1200px) {
    .li-btn-del {
        position: absolute;
        left: 1000px;
    }
    .li-btn-edit {
        position: absolute;
        left: 900px;
    } 
  }
  @media only screen and (max-width: 1181px) {
    .li-btn-del {
        position: absolute;
        left: 900px;
    }
    .li-btn-edit {
        position: absolute;
        left: 800px;
    } 
  }
@media only screen and (max-width: 991px) {
    .li-btn-del {
        position: absolute;
        left: 700px;
    }
    .li-btn-edit {
        position: absolute;
        left: 600px;
    } 
  }
@media only screen and (max-width: 821px) {
    .li-btn-del {
        position: absolute;
        left: 600px;
    }
    .li-btn-edit {
        position: absolute;
        left: 500px;
    } 
  }
@media only screen and (max-width: 767px) {
    .li-btn-del {
        position: absolute;
        left: 500px;
    }
    .li-btn-edit {
        position: absolute;
        left: 400px;
    } 
  }
  @media only screen and (max-width: 600) {
    .li-btn-del {
        position: absolute;
        left: 400px;
    }
    .li-btn-edit {
        position: absolute;
        left: 300px;
    }  
  }
  @media only screen and (max-width: 570) {
    .li-btn-del {
        position: absolute;
        left: 300px;
    }
    .li-btn-edit {
        position: absolute;
        left: 25px;
    }  
  }